services:
  db:
    image: postgres:15
    container_name: gym-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gymdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
      - ./db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend-python
      dockerfile: Dockerfile
    container_name: gym-backend
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/gymdb
      JWT_SECRET: clave-secreta
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: gym-frontend
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
