version: '3.9'

services:
  db:
    image: postgres:15
    container_name: gym-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gymdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: gym-backend
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/gymdb
      JWT_SECRET: clave-super-secreta
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: gym-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data:
